body {

    font-size: 14px;
}

/*-------------------

 google font reference.

 font-family: 'Lato', sans-serif;
 font-family: 'Raleway', sans-serif;


-----------------------*/

/* ------------------------------------------- navigation css ----*/

  .topbar-responsive {
    background: #3b5998;
    padding: 1rem 1.5rem;
  }

  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }

  .topbar-responsive .menu {
    background: #3b5998;
  }

  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }

  .topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
  }

  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }

  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }

  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }

  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }


  /* ---- ---- ---- ---- ---- ---- ---- ---- navigation css ----- */

#intro-banner {
  height: inherit;
  margin-bottom: 4rem;
  margin-top: auto;

}

.intro-text {

  margin-top: 15rem;
  color: white;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Raleway', sans-serif;


}

.alien-banner {

    background-image: url(../img/desert.jpg);
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    min-width: 100%;
    height: 40rem;
    z-index: -3;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    border-bottom: 3px transparent #333;


}

.side-card-style {
   border-left: 4px solid #32cd32;


}

.instruction-cards {

  margin-top: 10rem;

}

#2nd-banner {

  height: inherit;
  margin-bottom: auto;
  margin-top: auto;


}

.James-banner {

    background-image: url(../img/rick-james.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: inherit;
    min-width: 100%;
    height: 40rem;
    z-index: -3;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    border-bottom: 3px transparent #333;


}

#rick-morty{
  height: inherit;
  margin-bottom: 4rem;
  margin-top: auto;

}

.morty-bg {
  background-image: url(../img/worlds.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 50rem;
  border-bottom: 3px transparent #333;

}
.morty-image {

}
.morty-card {

    margin-top: 40rem;
    box-shadow:  2px 4px 4px solid #d3d3d3;
}

#Shayna-revenge {

  height: inherit;
  margin-bottom: 4rem;
  margin-top: -4rem;
  background-color: #42a1ec;


}

.shayna {

  height: 45rem;
}
